footer
  .footer-content
    .quick-links
      h4 Quick Links
      ul
        li
          a.Home(href="./home") HOME
        li
          a.about(href="/about") About
        li
          a.vis(href="/visit") Visit
        i
          a.job(href="/donation" class="dona") Donation
        li
          a.con(href="/cont") Contact
    .footer-logo
      img(src="./assests/images/1.png", alt="Vamb Farm Sanctuary Footer Logo")
    .social-icons
      h4 Follow Us
      a(href="#")
        i.fab.fa-facebook-f
      a(href="#")
        i.fab.fa-twitter
      a(href="#")
        i.fab.fa-instagram
      a(href="#")
        i.fab.fa-linkedin-in
  .footer-bottom
    p &copy; 2024 Vamb Farm Sanctuary. All rights reserved.
