.line
  header
    img.logo(src="/assests/images/1.png")
    nav.navbar
      ul
        li
          a.Home(href="/") HOME
        li
          a.about(href="/about") About
        li
          a.vis(href="/visit") Visit
        li
          a.con(href="/contact") Contact

