doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Register Page
    link(rel="stylesheet", href="./assests/css/login.css")
  body
    include ./header.pug
    main
      .form
        h1.heading Register
        input(type="text", placeholder="Name", autocomplete="off", class="name", required)
        input(type="email", placeholder="E-mail", autocomplete="off", class="email", required)
        input(type="number", placeholder="Num", autocomplete="off", class="num", required)
        input(type="password", placeholder="Password", autocomplete="off", class="password", required)
        input(type="date", placeholder="Date of Birth", class="dob", required)
        button.submit-btn Register
        // Alert box for displaying messages
        .alert(style="color: red; margin-top: 10px;") 
        a.link(href="./login") Already have an account? Log in here
    footer
      p &copy; 2024 VAMB ORGANIZATION. All rights reserved.
  script(src="./assests/js/reg.js")
