.line
  header
    img.logo(src="/assests/images/1.png")
    nav.navbar
      ul
        li
          a.Home(href="/") HOME
        li
          a.about(href="/userabout") About
        li
          a.doantion(href="/userdonation") Donation
        li
          a.job(href="/userjob") Job Application
        li
          a.vis(href="/uservisit") Visit
        li
          a.contact(href="/usercontact") Contact
        
    nav.login
      li
        .avatar
          img(src="/assests/images/pp.png", alt="User Avatar")
          span #{name || 'Guest'}
          .dropdown
            a(href='/dashboard') Profile
            a(href='/logout') LOGOUT
